/* why choose services section */
.section-why-choose .why-choose-col {
  padding: 10px;
}
.why-choose-list-item {
  border-radius: 5px;
  padding: 40px 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background: #0091fe;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  cursor: pointer;
}
.why-choose-list-item.change-bg{
  background: #1050bc;
}
.why-choose-list-item .paragraph {
  position: absolute;
  top: 100%;
  bottom: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 15px;
  background: #000;
  transition: .5s;
}
.why-choose-list-item:hover .paragraph{
  top: 0;
}
.why-choose-list-item .why-choose-icon {
  width: 40px;
}
.why-choose-list-item .heading4 {
  font-size: 20px;
  margin: 0;
}