/* web development banner */
.web-development-banner{
    background: url('../../../images/services/web-development/web-development-banner.webp');
    background-size: cover;
    background-position: center right;
}
@media (max-width: 767px) {
    .web-development-banner{
        background-position: center;
    }
}
.services-listing {
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    list-style: inside square;
    padding: 0;
}
.services-listing li {
    flex: 1 0 50%;
    padding: 6px 0;
}
@media (max-width: 480px) {
    .services-listing li{
        flex: 1 1 100%;
    }
}
/* services includes section */
.services-includes-section .paragraph {
    position: unset;
    background: transparent;
    padding: 0;
    font-size: 15px;
    height: max-content;
    display: block;
}
.services-includes-section .why-choose-list-item:hover .why-choose-icon{
    transform: scale(1.2);
}
.services-includes-section .why-choose-list-item{
    padding: 25px 15px;
    gap: 15px;
    justify-content: flex-start;
}
.services-includes-section .why-choose-list-item:hover{
    background-color: #000;
}
.services-includes-section .why-choose-icon {
    width: 50px;
}
.what-software-section .leadsubtxt {
    color: #fff;
}

/* specification section */
.sepcification-section{
    background-color: #000;
}
.specification-block {
    height: 100%;
    padding: 20px 0;
}
.specification-block svg {
    font-size: 32px;
    margin-bottom: 20px;
}

/* section Development process */
.development-process-blocks .badge {
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #000 !important;
}
.development-process-blocks .card{
    border: none;
    box-shadow: 0px 4px 15px -6px #cecece8c;
    background-color: #f1f2fd;
}
.development-process-blocks .card .card-body{
    padding: 20px;
}
.development-process-blocks .card .card-text{
    color: #808080;
}
.development-process-blocks .dots-center {
    position: relative;
    z-index: 1;
}
.development-process-blocks .dots-center::after {
    content: '';
    width: 50%;
    position: absolute;
    background: #000;
    right: -12px;
    display: flex;
    height: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}
.development-process-blocks .no-gutters:nth-child(2n) .dots-center::after{
    left: -12px;
    right: auto;
}
.development-process-blocks .dots-center::before {
    content: '';
    background: #000;
    position: absolute;
    height: 100%;
    width: 2px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}
.development-process-blocks .no-gutters:first-child .dots-center::before {
    height: 50%;
    bottom: 0;
}
.development-process-blocks .no-gutters:last-child .dots-center::before {
    height: 50%;
    top: 0;
}