/* SEO Page speed optimization banner */
.seo-page-speed-optimization-banner{
    background: url('../../../images/services/seo-page-speed-optimization/seo-page-speed-optimization.png');
    background-size: cover;
    background-position: center;
}