/* services page */
.services-banner {
    position: relative;
}
.services-banner::before {
    content: "";
    background: #0968d3;
    width: 55%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    border-bottom-right-radius: 120px;
}
.services-banner .heading-wrapper h1{
    max-width: 100%;
}
@media (max-width: 991px) {
    .services-banner::before{
      width: 100%;
    }
    .services-banner .responsive-img {
      margin-top: 50px;
    }
}
/* what we do section */
.services-what-we-do .service-col{
    margin: 12px 0;
}
.services-what-we-do .service-link {
    text-decoration: none;
    height: 100%;
    display: block;
    border-radius: 30px 0 30px 0;
    padding: 30px;
    background: #000;
    color: #000;
}
.services-what-we-do .service-link .service-icon{
    height: 80px;
    margin-bottom: 20px;
}
.services-what-we-do .service-link .heading2{
    font-size: 28px;
}
  
/* services we design section */
.services-we-design{
    background: #000;
}
.we-design-rows{
    max-width: 80%;
    margin: auto;
}
.services-icons-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.services-icons-list li {
    flex: 0 0 33.33%;
    text-align: center;
    padding: 20px 15px;
    transition: .5s;
}
.services-icons-list li:hover{
    background-color: #131313;
}
.services-icons-list li .icon-image {
    width: 75px;
}
.services-design-items {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 80%;
}
.services-design-items li {
    border-bottom: 1px solid #353535;
    background-color: transparent!important;
    display: flex;
    align-items: center;
}
.services-design-items li .service-design-link {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding: 20px 15px;
    width: 100%;
    justify-content: space-between;
}
.service-design-left {
    display: flex;
    align-items: center;
}
.services-design-items li svg {
    font-size: 35px;
    color: #0091fe;
    margin-right: 20px;
    width: 35px;
}
.services-design-items li .service-design-link .right-arrow {
    color: inherit;
    margin: 0 0 0 10px;
    font-size: 24px;
    opacity: 0;
}
.services-design-items li .service-design-link:hover .right-arrow{
    opacity: 1;
    transition: .4s;
}
@media (max-width: 991px) {
    .we-design-rows,
    .services-design-items{
      max-width: 100%;
    }
}