/* Graphic Design Banner */
.graphic-design-banner{
    background: url('../../../images/services/graphic-design/graphic-design-banner.webp');
    background-size: cover;
    background-position: center;
}