/* contact page */
.contact-banner{
    background-image: url('../../images/contact/Contact-Us-banner.webp');
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contact-banner .consult-expert-btn {
    margin-top: 20px;
}

.location-contact-div {
    margin: 5rem 0 2rem;
}
.location-contact-div .location-img {
    height: 80px;
}
.location-contact-div .heading5 {
    font-size: 24px;
    margin-bottom: 0;
}
.contact-link {
    display: block;
    text-decoration: none;
}


/* contact strategy session */
.strategy-session {
    background: #f1f2fd;
}
.session-iframe{
    height: 750px;
}
@media (max-width: 1199px) {
    .session-iframe {
      height: 1200px;
    }
}
  
/* contact footer section */
.contact-footer {
    position: relative;
}
.contact-footer .row{
    margin: 0;
}
.background_bg {
    background-color: #1050bc;
    width: 100%;
    position: absolute;
    top: 0;
    height: 50%;
    z-index: -1;
}
.contact-footer-div {
    background: #fff;
    box-shadow: 0px 0px 74px 0px rgb(41 74 69/11%);
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-radius: 20px;
}
.contact-footer-flex {
    flex: 1;
}
.contact-footer-flex.contact-left-col {
    padding: 50px;
}
.contact-footer-flex.contact-left-col .apply-btn {
    margin-top: 30px;
}
.contact-footer-flex.contact-left-col .heading2 {
    font-size: 60px;
}
.footer-contact-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
}
  
@media (max-width: 991px){
    .contact-footer-div {
      flex-direction: column;
    }
    .background_bg {
      height: 60%;
    }
    .footer-contact-image {
      border-radius: 0 0 20px 20px;
    }
}
@media (max-width: 767px) {
    .contact-footer-flex.contact-left-col .heading2 {
      font-size: 32px;
    }
}
@media (max-width: 375px) {
    .contact-footer-flex.contact-left-col {
      padding: 30px;
    }
    .contact-footer-flex.contact-left-col .heading2 {
      font-size: 24px;
    }
}