/* home page */
.home-banner {
    position: relative;
    width: 100%;
    height: calc(100vh);
    background: #000;
    overflow: hidden;
    padding: 100px 0;
}
.home-banner .container,
.home-banner .row{
    height: 100%;
}
.home-banner .intro-content {
    position: relative;
    z-index: 1;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-banner .intro_video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    right: 0;
    border: 0;
    object-fit: cover;
}
.banner-heading{
    font-size: 48px;
    margin-bottom: 0;
}
.banner-text{
    font-size: 20px;
    line-height: 1.4;
    margin-top: 15px;
    max-width: 75%;
}
.consult-expert-btn {
    width: max-content;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    transition: all .3s cubic-bezier(.19,1,.22,1);
    border: 2px solid #fff;
    padding: 14px 50px 14px 25px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    margin-top: 50px;
    text-decoration: none;
    line-height: 1.15;
}
.consult-expert-btn:hover{
    background-color: #1050bc;
    border-color: #1050bc;
}
.consult-expert-btn svg {
    position: absolute;
    right: 10px;
    width: 18px;
    height: 18px;
}
.consult-expert-btn:hover svg {
    -webkit-animation: arrowmove .4s infinite alternate ease-in-out;
    animation: arrowmove .4s infinite alternate ease-in-out;
}
@keyframes arrowmove {
    0% {
      -webkit-transform: translateX(-5px);
    }
    100% {
      -webkit-transform: translateX(0.3em);
    }
}
@media (max-width: 991px) {
    .home-banner {
      height: auto;
    }
    .banner-text{
      max-width: 100%;
    }
}
@media (max-width: 767px) {
    .banner-heading{
      font-size: 28px;
    }
    .banner-text{
      font-size: 16px;
    }
}
/* Award section home */
.awards-carousel .owl-item{
    padding: 20px 0;
}
.awards-carousel .owl-item .award-item-block {
    background-color: #fff;
    border-radius: 15px;
    padding: 40px 30px;
    text-align: center;
    min-height: 300px;
}
.awards-carousel .owl-item.center .award-item-block {
    box-shadow: 0px 4px 15px -6px rgb(0 0 0/55%);
}
.awards-carousel {
    padding: 40px 30px;
}
.award-item-logo img {
    max-width: 150px;
    margin: auto;
}
.awards-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    width: max-content !important;
    background-color: #fff !important;
}
.awards-carousel .owl-nav button:hover{
    background: inherit !important;
    color: inherit !important;
}
.awards-carousel .owl-nav button.owl-prev{
    left: 0;
}
.awards-carousel .owl-nav button.owl-next{
    right: 0;
    left: auto;
}
.awards-carousel .owl-nav button span {
    border: none;
    font-size: 42px;
    line-height: 1;
    border-radius: 50%;
    width: 45px;
    display: block;
    height: 45px;
    box-shadow: 0px 2px 10px rgb(0 0 0/22%);
}
.awards-carousel .owl-nav button:hover span{
    background: #000;
    color: #fff;
}
@media (max-width: 375px) {
    .awards-carousel {
      padding: 40px 20px;
    }
    .awards-carousel .owl-item .award-item-block{
      padding: 20px 10px;
    }
    .awards-carousel .owl-nav button span {
      font-size: 32px;
      width: 35px;
      height: 35px;
    }
}
/* Award panel home */
.award-panel {
    background: #000;
    padding: 25px 0;
}
.award-logo img {
    max-height: 85px;
}
.award-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
    color: #fff;
    opacity: .7;
}
.award-col{
    border-right: 1px solid #707070;
}
.award-col:last-child{
    border-right: none;
}
.award-block {
    height: 100%;
    text-align: center;
}
  
@media (max-width: 1199px) {
    .award-col{
      border: none;
      margin-bottom: 15px;
    }
}
  
/* services panel home */
.btn-blue-border{
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    transition: all .3s cubic-bezier(.19,1,.22,1);
    border: 2px solid #1050bc;
    padding: 14px 50px 14px 25px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    line-height: 1.15;
    background-color: #1050bc;
}
.btn-blue-border:hover{
    background-color: #fff;
    border-color: #1050bc;
    color: #1050bc;
}
.btn-blue-border svg {
    position: absolute;
    right: 10px;
    width: 18px;
    height: 18px;
}
.btn-blue-border:hover svg {
    -webkit-animation: arrowmove .4s infinite alternate ease-in-out;
    animation: arrowmove .4s infinite alternate ease-in-out;
}
.services-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
    padding: 5rem 0 0;
}
.service-card a {
      height: 100%;
      position: relative;
      margin-top: 0;
      background-color: #121212;
      border: none;
      width: 100%;
      border-radius: 10px;
      display: block;
      padding: 25px 20px;
      transition: all ease-in .2s;
      text-decoration: none;
}
.service-icon {
    height: 40px;
}
.service-icon .service-img {
    transform: scale(.9);
    transition: all ease-in .2s;
    filter: brightness(0);
}
.service-card a:hover .service-icon .service-img{
    transform: scale(1);
}
.service-card .service-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    color: #000;
    margin: 20px 0;
}
.service-card a:hover .service-text{
    font-weight: 500;
}
@media (max-width: 991px) {
    .services-cards {
      grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 767px) {
    .services-cards {
      grid-template-columns: repeat(1,1fr);
    }
}
  
/* Industries panel home */
.industries-panel{
    background-color: #000;
}
.grid_colm_panel {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 2rem;
    position: relative;
}
.grid_colm_item {
    text-align: center;
    border-right: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
    padding: 40px 50px;
}
.grid_colm_panel .grid_colm_item:nth-child(4n) {
    border-right: none;
}
.border-bottom-none{
    border-bottom: none;
}
.grid_colm_item a {
    display: block;
    text-decoration: none;
}
.grid_colm_item figure {
    border-radius: 10px;
    background-image: linear-gradient(to bottom,#343338,#302e34,#2b2a2f,#27252b,#232127);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
.grid_colm_item a:hover img {
    transform: scale(1.1);
}
.grid_colm_head {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
    padding-top: 20px;
}
.grid_colm_item a:hover .grid_colm_head {
    transform: scale(1.1);
}
@media (max-width: 991px) {
    .grid_colm_item {
      padding: 30px 20px;
    }
}
@media (max-width: 767px){
    .grid_colm_panel {
      grid-template-columns: repeat(2,1fr);
      padding-top: 0;
    }
    .grid_colm_panel .grid_colm_item:nth-child(2n) {
      border-right: none;
    }
    .grid_colm_panel .grid_colm_item.border-bottom-none {
      border-bottom: 1px solid #3c3c3c;
    }
    .grid_colm_panel .grid_colm_item:last-child, 
    .grid_colm_panel .grid_colm_item:nth-last-child(2) {
      border-bottom: none;
    }
    
}
  
/* Partnership section home */
.partnership-panel{
    background: #000 url('../../images/awards-BG.webp') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.card_grid_panel {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 35px;
    width: max-content;
    margin: auto;
}
.card_logo {
    background: #171717;
    border: 1px solid #343434;
    border-radius: 10px;
    height: 240px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1199px) {
    .card_logo{
      height: 200px;
      width: 200px;
    }
}
@media (max-width: 480px) {
    .card_grid_panel {
      grid-template-columns: repeat(1,1fr);
    }
}
  
/* Testimonial Section */
.testimonial-panel{
    background: url('../../images/testimonial-bg.webp') no-repeat;
    background-size: cover;
    background-position: center;
}
  
.client_says .active .item {
    opacity: 1;
}
  
.client_says .item {
    opacity: .3;
    padding-bottom: 10px;
}
  .testimonial_box {
    border: 1px solid #3b3b3b;
    border-radius: 15px;
    margin-top: 50px;
    padding: 50px 70px;
    color: #fff;
}
.p_text {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #3b3b3b;
}
.client_details {
    display: flex;
    align-items: center;
}
.client_says .owl-nav {
    margin-top: 20px;
    position: relative;
}
.client_says .owl-nav button {
    border: 1px solid #fff !important;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    opacity: .6;
}
.client_says .owl-nav button:hover {
    background-color: #116bfb !important;
    border: 1px solid #116bfb !important;
    opacity: 1;
}
.client_says .owl-nav button span {
    font-size: 38px;
    line-height: 38px;
}
.client_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.client_text {
    padding-left: 40px;
    font-size: 16px;
    font-weight: 300;
}
.client_name {
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    padding: 25px 0 0;
}
.client_des {
    padding-top: 8px;
    line-height: 1.4;
}
.client_bottom .client_img img {
    width: 103px;
    height: 105px;
    border-radius: 15px;
}
  
@media (max-width: 767px) {
    .testimonial_box {
      padding: 30px;
    }
}
  
/* faq panel home */
.accordion {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 2rem 0 0;
}
.accordion-item {
    margin-bottom: 25px;
    padding: 20px 40px;
    background: #f1f2fd;
    border-radius: 20px !IMPORTANT;
    border: none;
}
.accordion-item .accordion-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    padding: 20px 0px 25px 0;
    margin: 0;
    cursor: pointer;
    position: relative;
    background: transparent !important;
    border-radius: unset !important;
    box-shadow: unset !important;
}
.accordion-item .accordion-button:hover {
    color: #1367fb;
}
.accordion-item .accordion-button:focus,
.accordion-item .accordion-button:focus-visible{
    outline: none !important;
    box-shadow: unset !important;
}
.accordion-body {
    padding: 0 20px 0 0;
}
.accordion-body ul {
    padding-left: 18px;
}
.accordion-body ul li {
    padding-bottom: 5px;
}
@media (max-width: 767px) {
    .accordion {
      grid-template-columns: repeat(1,1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
}
  