/* magento development banner */
.magento-development-banner{
    background: url('../../../images/services/magento-development/magento-development-banner.webp');
    background-size: cover;
    background-position: center;
}