/* web development banner */
.magento-development-banner{
    background: url('../../../images/services/magento-development/magento-development-banner.jpg');
    background-size: cover;
    background-position: center;
}