/* SEO Service banner */
.social-media-marketing-banner{
    background: url('../../../images/services/social-media-marketing/social-media-marketing-banner.jpg');
    background-size: cover;
    background-position: center;
}