/* CRM Development HealthCare Banner */
.crm-development-healthcare-banner{
    background: url('../../../images/services/crm-development-healthcare/crm-development-healthcare-banner.jpg');
    background-size: cover;
    background-position: center;
}