@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: "Inter-Medium";
  src: url('./fonts/Inter-Medium.ttf');
}
h1, h2{
  font-family: 'Inter-Medium';
}
.text-white{
  color: #fff;
}
.b-none{
  border: none !important;
}
.section-padding{
  padding: 6rem 0;
}
.banner-padding {
  padding: 100px 0;
}
.leadtxt h3 {
  font-size: 46px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 50px;
}
.leadsubtxt{
  color: #999;
  font-size: 20px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .leadtxt h3{
    font-size: 28px;
  }
  .section-padding {
    padding: 4rem 0;
  }
}

/* Header */
.header{
  padding: 15px 0;
}
.header.white{
  background-color: #fff;
}
.header.text-white .nav-link{
  color: #fff;
}
.header.text-black .nav-link{
  color: #000;
}
.navbar-brand .logo {
  max-width: 150px;
}
.navbar-brand:focus-visible{
  outline: none;
}
.navbar-nav .btn.nav-link {
  background: #1050bc;
  color: #fff;
  padding: 16px 30px !important;
  height: auto;
  margin-left: 10px;
  border-radius: 5px;
}
.navbar-nav .nav-link{
  padding: 20px 30px !important;
  font-size: 18px;
  line-height: .8;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.navbar-nav .nav-link:before {
  bottom: 8px;
  display: block;
  height: 3px;
  width: 0;
  content: "";
  background-color: #1050bc;
  left: 50%;
  transform: translate(-50%,0);
  position: absolute;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}
.navbar-nav .nav-link:hover:before,
.navbar-nav .nav-link.active:before {
  width: calc(100% - 50px);
  opacity: 1;
}
.navbar-nav .btn.nav-link:before{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  content: "";
  background: #3563e0;
  border-radius: 50%;
  transform: translate(-50%,-50%) scale(0);
  -webkit-transform: translate(-50%,-50%) scale(0);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.btn.nav-link:hover:before{
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: btneffect;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: btneffect;
}
.header.text-white .navbar-toggler {
  border-color: #fff;
}
.header.text-white .navbar-toggler svg{
  color: #fff;
}
.header.text-black .navbar-toggler {
  border-color: #000;
  padding: 6px;
}
.header.text-black .navbar-toggler svg{
  color: #000;
  width: 18px;
  height: 18px;
}
.navbar-toggler:focus{
  box-shadow: none;
}
.header.text-black .navbar-toggler.collapsed svg.close-icon {
  display: none;
}
.header.text-black .navbar-toggler svg.close-icon {
  display: block;
}
.header.text-black .navbar-toggler.collapsed svg.bars-icon {
  display: block;
}
.header.text-black .navbar-toggler svg.bars-icon {
  display: none;
}
@keyframes btneffect {
  0% {
    transform: translate(-50%,-50%) scale(0);
    -webkit-transform: translate(-50%,-50%) scale(0);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: translate(-50%,-50%) scale(1);
    -webkit-transform: translate(-50%,-50%) scale(1);
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 991px) {
  .navbar-collapse{
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    background-color: #fff;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .header{
    position: relative;
  }
}

/* home page */
.home-banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 130px);
  background: #000;
  overflow: hidden;
  padding: 100px 0;
}
.home-banner .container,
.home-banner .row{
  height: 100%;
}
.home-banner .intro-content {
  position: relative;
  z-index: 1;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-banner .intro_video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  right: 0;
  border: 0;
  object-fit: cover;
}
.banner-heading{
  font-size: 48px;
  margin-bottom: 0;
}
.banner-text{
  font-size: 20px;
  line-height: 1.4;
  margin-top: 15px;
  max-width: 75%;
}
.consult-expert-btn {
  width: max-content;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  transition: all .3s cubic-bezier(.19,1,.22,1);
  border: 2px solid #fff;
  padding: 14px 50px 14px 25px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  margin-top: 50px;
  text-decoration: none;
  line-height: 1.15;
}
.consult-expert-btn:hover{
  background-color: #1050bc;
  border-color: #1050bc;
}
.consult-expert-btn svg {
  position: absolute;
  right: 10px;
  width: 18px;
  height: 18px;
}
.consult-expert-btn:hover svg {
  -webkit-animation: arrowmove .4s infinite alternate ease-in-out;
  animation: arrowmove .4s infinite alternate ease-in-out;
}
@keyframes arrowmove {
  0% {
    -webkit-transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0.3em);
  }
}
@media (max-width: 991px) {
  .home-banner {
    height: auto;
  }
  .banner-text{
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .banner-heading{
    font-size: 28px;
  }
  .banner-text{
    font-size: 16px;
  }
}

/* Award panel home */
.award-panel {
  background: #000;
  padding: 25px 0;
}
.award-logo img {
  max-height: 85px;
}
.award-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  color: #fff;
  opacity: .7;
}
.award-col{
  border-right: 1px solid #707070;
}
.award-col:last-child{
  border-right: none;
}
.award-block {
  height: 100%;
  text-align: center;
}
.partner-logos {
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: center;
  gap: 60px;
}
.partner-logos .partner-logo img {
  filter: invert(100%) sepia(0) saturate(100%) hue-rotate(284deg) brightness(220%) contrast(0%);
  cursor: pointer;
}
.partner-logos .partner-logo img:hover {
  filter: none;
}

@media (max-width: 1199px) {
  .award-col{
    border: none;
    margin-bottom: 15px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .partner-logos {
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
  }
}

@media (max-width: 767px) {
  .partner-logos {
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .partner-logos {
    grid-template-columns: repeat(1,1fr);
    text-align: center;
  }
}
/* services panel home */
.services-panel{
  background: #000;
}
.btn-white-border{
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  transition: all .3s cubic-bezier(.19,1,.22,1);
  border: 2px solid #fff;
  padding: 14px 50px 14px 25px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  line-height: 1.15;
  background-color: transparent;
}
.btn-white-border:hover{
  background-color: #1050bc;
  border-color: #1050bc;
}
.btn-white-border svg {
  position: absolute;
  right: 10px;
  width: 18px;
  height: 18px;
}
.btn-white-border:hover svg {
  -webkit-animation: arrowmove .4s infinite alternate ease-in-out;
  animation: arrowmove .4s infinite alternate ease-in-out;
}
.services-cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 15px;
  padding: 5rem 0 0;
}
.service-card a {
    height: 100%;
    position: relative;
    margin-top: 0;
    background-color: #121212;
    border: 1px solid #343434;
    width: 100%;
    border-radius: 10px;
    display: block;
    padding: 25px 20px;
    opacity: .6;
    transition: all ease-in .2s;
    text-decoration: none;
}
.service-card a:hover{
  background-color: #262626;
  opacity: 1;
}
.service-icon {
  height: 40px;
}
.service-icon .service-img {
  transform: scale(.9);
  transition: all ease-in .2s;
}
.service-card a:hover .service-icon .service-img{
  transform: scale(1);
}
.service-card .service-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: #fff;
  margin: 20px 0;
}
.service-card a:hover .service-text{
  font-weight: 500;
}
@media (max-width: 991px) {
  .services-cards {
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 767px) {
  .services-cards {
    grid-template-columns: repeat(1,1fr);
  }
}

/* Industries panel home */
.industries-panel{
  background-color: #000;
}
.grid_colm_panel {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-top: 2rem;
  position: relative;
}
.grid_colm_item {
  text-align: center;
  border-right: 1px solid #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
  padding: 40px 50px;
}
.grid_colm_panel .grid_colm_item:nth-child(4n) {
  border-right: none;
}
.border-bottom-none{
  border-bottom: none;
}
.grid_colm_item a {
  display: block;
  text-decoration: none;
}
.grid_colm_item figure {
  border-radius: 10px;
  background-image: linear-gradient(to bottom,#343338,#302e34,#2b2a2f,#27252b,#232127);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.grid_colm_item a:hover img {
  transform: scale(1.1);
}
.grid_colm_head {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  padding-top: 20px;
}
.grid_colm_item a:hover .grid_colm_head {
  transform: scale(1.1);
}
@media (max-width: 767px){
  .grid_colm_panel {
    grid-template-columns: repeat(2,1fr);
    padding-top: 0;
  }
  .grid_colm_panel .grid_colm_item:nth-child(2n) {
    border-right: none;
  }
  .grid_colm_panel .grid_colm_item.border-bottom-none {
    border-bottom: 1px solid #3c3c3c;
  }
  .grid_colm_panel .grid_colm_item:last-child, 
  .grid_colm_panel .grid_colm_item:nth-last-child(2) {
    border-bottom: none;
  }
  .grid_colm_item {
    padding: 30px 20px;
  }
}

/* Partnership section home */
.partnership-panel{
  background: #000 url('./images/awards-BG.webp') no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.card_grid_panel {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 35px;
  width: max-content;
  margin: auto;
}
.card_logo {
  background: #171717;
  border: 1px solid #343434;
  border-radius: 10px;
  height: 240px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .card_logo{
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 480px) {
  .card_grid_panel {
    grid-template-columns: repeat(1,1fr);
  }
}

/* Testimonial Section */
.testimonial-panel{
  background: url('./images/testimonial-bg.webp') no-repeat;
  background-size: cover;
  background-position: center;
}

.client_says .active .item {
  opacity: 1;
}

.client_says .item {
  opacity: .3;
  padding-bottom: 10px;
}
.testimonial_box {
  border: 1px solid #3b3b3b;
  border-radius: 15px;
  margin-top: 50px;
  padding: 50px 70px;
  color: #fff;
}
.p_text {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #3b3b3b;
}
.client_details {
  display: flex;
  align-items: center;
}
.client_says .owl-nav {
  margin-top: 20px;
  position: relative;
}
.client_says .owl-nav button {
  border: 1px solid #fff !important;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  opacity: .6;
}
.client_says .owl-nav button:hover {
  background-color: #116bfb !important;
  border: 1px solid #116bfb !important;
  opacity: 1;
}
.client_says .owl-nav button span {
  font-size: 38px;
  line-height: 38px;
}
.client_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.client_text {
  padding-left: 40px;
  font-size: 16px;
  font-weight: 300;
}
.client_name {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  padding: 25px 0 0;
}
.client_des {
  padding-top: 8px;
  line-height: 1.4;
}
.client_bottom .client_img img {
  width: 103px;
  height: 105px;
  border-radius: 15px;
}

@media (max-width: 767px) {
  .testimonial_box {
    padding: 30px;
  }
}

/* faq panel home */
.accordion {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding: 2rem 0 0;
}
.accordion-item {
  margin-bottom: 25px;
  padding: 20px 40px;
  background: #f1f2fd;
  border-radius: 20px !IMPORTANT;
  border: none;
}
.accordion-item .accordion-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  padding: 20px 0px 25px 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  background: transparent !important;
  border-radius: unset !important;
  box-shadow: unset !important;
}
.accordion-item .accordion-button:hover {
  color: #1367fb;
}
.accordion-item .accordion-button:focus,
.accordion-item .accordion-button:focus-visible{
  outline: none !important;
  box-shadow: unset !important;
}
.accordion-body {
  padding: 0 20px 0 0;
}
.accordion-body ul {
  padding-left: 18px;
}
.accordion-body ul li {
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  .accordion {
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

/* Footer Top */
.footer-top{
  background: url('./images/footer-hq-bg.webp') no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 6px solid #1163fb;
  position: relative;
}
.footer-logo{
  max-width: 200px;
}
.location-image {
  border-bottom: 1px solid #fff;
  padding-bottom: 25px;
}
.location-div {
  text-align: center;
  opacity: .6;
}
.location-heading {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  padding: 15px 0 10px;
}
.location-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
  padding-top: 10px;
}
.location-div:hover {
  opacity: 1;
}

/* footer bottom */
.footer-section{
  background: #1d1d25;
  position: relative;
}
.footer-about {
  margin-top: 1rem;
  font-size: 14px;
}
.footer-col-head {
  display: block;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 30px;
}
.footer-col-list {
  list-style: none;
  padding: 0;
}
.footer-col-list li {
  padding: 5px 0;
  position: relative;
}
.footer-col-list li a {
  font-size: 14px;
  color: #fff !important;
  position: relative;
  text-decoration: none;
  transition: padding .3s;
}
.footer-col-list li a:hover{
  padding-left: 5px;
}
@media (max-width: 991px) {
  .footer-col-head{
    margin: 10px 0 0;
  }
}
@media (max-width: 767px) {
  .footer-col-head{
    font-size: 20px;
    padding-bottom: 10px;
    margin: 10px 0 0;
    text-align: center;
  }
  .footer-col,
  .footer-col-list {
    text-align: center;
  }
}
/* footer bottom */
.footer-bottom{
  padding: 30px 0;
  background-color: #15151f;
}
.copyright-text {
  font-size: 14px;
  margin: 0;
}
.footer-social-col{
  text-align: right;
}
.social-links {
  list-style: none;
  padding: 0;
  display: inline-flex;
  justify-content: flex-end;
  margin-bottom: 0;
}
.social-links li {
  margin-left: 10px;
}
.social-links li a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  z-index: 1;
  padding: 5px;
  font-size: 24px;
  color: #fff;
}
.social-links li a:after {
  background: #fff;
  position: absolute;
  content: "";
  width: 100%;
  display: block;
  height: 100%;
  transform: scaleX(0) translateZ(0);
  transform-origin: 100% 100%;
  -webkit-transition: transform .4s cubic-bezier(.19,1,.22,1);
  transition: transform .4s cubic-bezier(.19,1,.22,1);
  left: 0;
  top: 0;
  z-index: -1;
  -moz-transition: transform .4s cubic-bezier(.19,1,.22,1);
  -ms-transition: transform .4s cubic-bezier(.19,1,.22,1);
  -o-transition: transform .4s cubic-bezier(.19,1,.22,1);
  -webkit-transform: scaleX(0) translateZ(0);
  -moz-transform: scaleX(0) translateZ(0);
  -ms-transform: scaleX(0) translateZ(0);
  -o-transform: scaleX(0) translateZ(0);
}
.social-links li a:hover::after {
  transform: scaleX(1) translateZ(0);
  transform-origin: 0 0;
}
.social-links li a svg{
  font-size: 20px;
}
.social-links li a:hover svg {
  color: #000;
}

@media (max-width: 767px) {
  .copyright-text{
    text-align: center;
  }
  .footer-social-col{
    text-align: center;
  }
  .social-links{
    margin-top: 1rem;
  }
}

/* About page */
.about-banner{
  background-image: url('./images/about-banner.jpg');
  background-size: cover;
  background-position: top center;
  height: 90vh;
}
.about-banner .container,
.about-banner .row{
  height: 100%;
  align-items: center;
}
.heading-wrapper h1 {
  font-size: 65px;
  margin-bottom: 0;
  max-width: 70%;
  color: #fff;
  text-shadow: 1px 2px 10px #222;
  font-weight: 700;
}
@media (max-width: 1399px) {
  .heading-wrapper h1{
    font-size: 52px;
  }
}
@media (max-width: 991px) {
  .heading-wrapper h1{
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .heading-wrapper h1{
    font-size: 38px;
  }
  .about-banner{
    height: 100%;
  }
}
/* who we are about page */
.about-content {
  font-size: 20px;
  position: relative;
  line-height: 1.7;
  font-weight: 600;
}
.heading2 {
  font-size: 38px;
  font-weight: 600;
}
.padding-top-100{
  padding-top: 100px;
}
@media (max-width: 1399px) {
  .about-content{
    font-size: 18px;
  }
  .heading2{
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .padding-top-100 {
    padding-top: 50px;
  }
  .about-content{
    font-size: 16px;
  }
}

/* Join team section about page */
.heading5 {
  margin: 20px 0 30px;
  font-size: 20px;
  line-height: 1.2;
}
.display-flex{
  display: flex;
  align-items: stretch;
}
.image-wrap {
  max-width: 100%;
  flex: 1;
}
.image-wrap+.image-wrap {
  margin-left: 12px;
}
.image-wrap img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.image-wrap-inner {
  width: calc(100% - 7px);
}
.image-wrap-inner+.image-wrap-inner {
  margin-top: 12px;
}
.image-wrap-inner img {
  max-height: 280px;
}
.btn-section .btn.btn-blue {
  display: inline-block;
  position: relative;
  color: #fff;
  cursor: pointer;
  background: #1050bc;
  padding: 20px 40px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .apply-btn.btn-section {
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .btn-section .btn.btn-blue{
    padding: 12px 30px;
  }
}

/* Work life section about */
.its-best-wrap {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.its-best {
  width: 33.333%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  position: relative;
  color: #6d6c6c;
  margin: 35px 0;
  display: flex;
  justify-content: center;
}
.its-best:first-child:before{
  display: none;
}
.its-best:not(:nth-child(3n+4)):before {
  background: #707070;
  position: absolute;
  content: "";
  left: 0;
  top: 10px;
  width: 1px;
  height: 80px;
}
.its-best-inner {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
}
.its-best span {
  width: 50%;
  text-align: left;
  color: #000;
  margin: 0 auto;
}
.its-best figure img {
  transform: scale(1);
  backface-visibility: hidden;
  text-align: center;
  display: flex;
  margin: 0 auto;
}
.its-best figure {
  width: 220px;
  margin: 0;
}
@media (max-width: 1199px) {
  .its-best figure{
    width: 150px;
  }
}
@media (max-width: 991px){
  .its-best figure {
    width: 40px;
  }
  .its-best span {
    width: 60%;
    font-size: 13px;
    line-height: 1.4;
  }
  .its-best {
    width: 50%;
    padding: 15px 0;
    margin: 10px 0;
  }
  .its-best figure img{
    width: 100%;
  }
  .its-best:before{
    display: none;
  }
}
@media (max-width: 480px) {
  .its-best-inner{
    flex-direction: column;
  }
  .its-best span{
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}

/* our core values section about */
.core-values-section{
  background-image: linear-gradient(to bottom,#0091fe,#0383f0,#0676e1,#0968d3,#0c5bc4);
}
.width-55{
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.core-values-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0 0;
}
.core-values-grid {
  width: 33.33%;
  padding: 0 42px;
}
.core-values-number {
  font-size: 80px;
  color: #e7f4fc;
  display: block;
  line-height: 1.1;
  font-weight: 900;
  padding-bottom: 20px;
}
.core-values-heading {
  font-size: 24px;
  line-height: 1.5;
}
.paragraph {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.6;
}
@media (max-width: 991px) {
  .width-55{
    max-width: 100%;
  }
  .core-values-grid{
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .core-values-grid{
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
}

/* our achievements about */
.achieve-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 4rem;
}
.achieve-flip-wrap {
  width: calc(25% - 30px);
  margin: 0 15px;
}
.flipper {
  transition: .6s;
  transform-style: preserve-3d;
  position: relative;
  height: 200px;
  background: #fff;
  margin-bottom: 25px;
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
  background: #1473e6;
}
.achieve-flip-wrap:hover .flipper {
  transform: rotateY(180deg);
}
.flipper .paragraph{
  color: #fff;
    margin: 0;
    font-size: 20px;
    line-height: 1.3;
    padding: 0 20px;
}
.front-image {
  width: 100%;
  object-fit: scale-down;
}
@media (max-width: 767px) {
  .achieve-flip-wrap {
    width: calc(50% - 10px);
    margin: 0px 5px;
  }
  .front, .back , .flipper{
    height: 130px;
  }
  .flipper .paragraph{
    font-size: 14px;
    padding: 0 10px;
  }
}
@media (max-width: 480px) {
  .achieve-flip-wrap {
    width: 100%;
  }
}
/* progress section about */
.progress-block {
  background: #1050bc;
  padding: 70px 0;
  border-radius: 35px;
  position: relative;
}
.progress-block-flex {
  display: flex;
  flex-wrap: wrap;
}
.progress-number {
  position: relative;
  width: 33.33%;
  text-align: center;
  padding: 0 20px;
}
.progress-number span {
  font-size: 70px;
  line-height: 0.8;
  font-weight: 600;
}
.progress-heading {
  font-size: 18px;
  color: #fff;
  display: block;
  padding-top: 15px;
  line-height: 1.3;
}
.progress-number:nth-child(2):before, .progress-number:nth-child(2):after {
  position: absolute;
  content: "";
  background: #fff;
  width: 1px;
  height: 100%;
  top: 0;
}
.progress-number:nth-child(2):after {
  right: 0;
}
.progress-number:nth-child(2):before {
  left: 0;
}
@media (max-width: 991px) {
  .progress-number span{
    font-size: 48px;
  }
  .progress-heading{
    font-size: 14px;
  }
  .progress-number{
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .progress-number{
    width: 100%;
  }
  .progress-number:nth-child(2) {
    padding: 25px;
    margin: 25px 0;
  }
  .progress-number:nth-child(2):before,
  .progress-number:nth-child(2):after {
    left: 0;
    width: 90%;
    height: 1px;
    right: 0;
    margin: auto;
  }
  .progress-number:nth-child(2):before{
    top: 0;
    bottom: auto;
  }
  .progress-number:nth-child(2):after{
    bottom: 0;
    top: auto;
  }
}

/* contact page */
.contact-banner{
  background-image: url('./images/Contact-Us-banner.jpg');
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
}
.contact-banner .consult-expert-btn {
  margin-top: 20px;
}
.contact-form {
  padding: 30px;
  border-radius: 20px;
  background: #fff;
  color: #000;
}
.contact-form .form-group {
  padding-bottom: 10px;
}
.contact-form .form-group .form-control {
  padding: 0.8rem;
  border: none;
  border-bottom: 1px solid #797d7e;
  border-radius: unset;
  outline: none !important;
  box-shadow: none !important;
}
.contact-form .form-group.form-submit-group {
  padding: 10px 0;
}
.form-submit-btn {
  color: #fff;
  background: #1050bc;
  padding: 15px 40px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
}
.location-contact-div {
  margin: 5rem 0 2rem;
}
.location-contact-div .location-img {
  height: 80px;
}
.location-contact-div .heading5 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
}
.contact-link {
  display: block;
  text-decoration: none;
}
.contact-form .form-group .form-control.PhoneInput .PhoneInputInput {
  border: none !important;
  outline: none !important;
}
@media (max-width: 991px) {
  .contact-form {
    margin-top: 50px;
  }
}
/* contact strategy session */
.strategy-session {
  background: #f1f2fd;
}
.session-iframe{
  height: 750px;
}
@media (max-width: 1199px) {
  .session-iframe {
    height: 1200px;
  }
}

/* contact footer section */
.contact-footer {
  position: relative;
}
.background_bg {
  background-color: #1050bc;
  width: 100%;
  position: absolute;
  top: 0;
  height: 50%;
  z-index: -1;
}
.contact-footer-div {
  background: #fff;
  box-shadow: 0px 0px 74px 0px rgb(41 74 69/11%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-radius: 20px;
}
.contact-footer-flex {
  flex: 1;
}
.contact-footer-flex.contact-left-col {
  padding: 50px;
}
.contact-footer-flex.contact-left-col .apply-btn {
  margin-top: 30px;
}
.contact-footer-flex.contact-left-col .heading2 {
  font-size: 50px;
}
img.footer-contact-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 20px 20px 0;
}