/* SEO Service banner */
.seo-service-banner{
    background: url('../../../images//services/seo/seo-banner.jpg');
    background-size: cover;
    background-position: center;
}

/* SEO service faq */
.seo-service-faq{
    padding-top: 2rem;
}
.seo-service-faq .accordion-item .accordion-button {
    padding: 0;
}
.seo-service-faq .accordion-body {
    padding: 20px 20px 0 0;
}